.wheel-number {
  background: linear-gradient(to top, #000000, #444444);
  height: 100%;
  border-radius: 0.5rem;
  color: white;
  align-content: space-evenly;
  display: flex;
  justify-content: space-between;
}

.wheel-number-main {
  padding: 0 8px;
  /* padding: 1%; */
  /* padding-bottom: 2%; */
  align-content: center;
  flex-grow: 1;
}
.wheel-number-title {
  /* position: relative; */
  display: flex;
  justify-content: center;
  text-align: center;
  /* padding-bottom: 5%; */
  margin-bottom: 0.3rem;
}

/* 

 style={{
                backgroundColor: "transparent",
                color: "#000000",
                fontWeight: "bold",
                border: "none",
                width: "90%",
                textAlign: "center",
                marginBottom: "3%",
              }}
*/
.wheel-number-content {
  color: white;
  font-weight: bold;
  display: flex;
  /* height: 30%; */
  padding-bottom: 10px;
}
.wheel-number-input {
  width: 60%;
  height: 100%;
  z-index: 100;
  color: black;
}
.wheel-number-input input {
  width: 100%;
  border: none;
  text-align: center;
  font-weight: 500;
  height: 100%;
}
.spin-button {
  text-align: center;
  align-content: flex-end;
  width: 40%;
  padding-left: 5%;
}
.spin-button button {
  width: 100%;
  border-radius: 0.3rem;
  font-weight: 500;
  background-color: #585858;
  color: white;
  margin-bottom: 3px;
  border: none;
  height: 100%;
}
.spin-button button:hover {
  background: linear-gradient(to top, #555555, #bebebe);
}

.wheel-number .input-field {
  background: linear-gradient(to top, #d5eff9, #f9fcfd);
  border-radius: 0.3rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wheel-number-caret .dropdown-toggle {
  height: 100%;
  background: linear-gradient(to top, #000000, #646464);
  border: none;
  padding: 0.5rem;
  box-shadow: 0;
}
.wheel-number-caret .dropdown-toggle:focus {
  box-shadow: 0;
}

.wheel-number-caret .dropdown-toggle::after {
  border-top: 0.5rem solid;
}

.wheel-number.expanded .wheel-number-caret .dropdown-toggle::after {
  transform: rotate(180deg);
}
